@import '../../../../presets/variables.css';
@import '../../../../presets/fonts.css';
@import '../../../../presets/elements.css';


body {
    overflow: scroll;
    overflow-x: hidden;
}

code {
    margin-top: 1vh;
    border-radius: 1vh;
    padding: 1vw;
    font-family: Montserrat;
    color: var(--text);
    background-color: var(--background_less);
    max-width: 60%;
    text-align: center;
    word-wrap: break-word;
}

@media (max-width: 800px) {
    code {
        padding: 3vw;
    }
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.zsllolcuplogo {
    margin-top: 2vh;
    max-height: 80%;
    max-width: 80%;
}

.whitespace {
    margin-top: 2vh;
}

.text {
    text-align: center;
    color: var(--text);
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 900;
    max-width: 90%;
}

.color_input {
    margin-top: 1vh;
    color: var(--text);
    background-color: var(--background_less);
    padding: 1vh;
    border-radius: 1vh;
    border: none;
    outline: none;
}

.randomize_button {
    margin-top: 1vh;
    background-color: transparent;
    height: 5vh;
    border: none;
    padding: 0;
    cursor: pointer;
}

.randomize_button_image {
    z-index: 2;
    height: 100%;
    transition: all 0.5s;
}

.randomize_button_image:hover {
    border-radius: 1.5vh;
    background-color: var(--secondary);
}

.copy_button {
    margin-top: 1vh;
    background-color: transparent;
    height: 5vh;
    border: none;
    padding: 0;
    cursor: pointer;
}

.copy_button_image {
    z-index: 2;
    height: 100%;
    transition: all 0.5s;
}

.copy_button_image:hover {
    border-radius: 1.5vh;
    background-color: var(--secondary);
}