@import '../../presets/variables.css';
@import '../../presets/fonts.css';
@import '../../presets/elements.css';

.error_container {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (max-width: 800px) {
    .error_image {
        max-width: 75%;
        height: auto;
    }
}

@media (min-width: 801px) {
    .error_image {
        max-width: 35%;
        height: auto;
    }

}

.error_text {
    position: relative;

    margin-top: 10%;

    max-width: 75%;
    height: auto;

    color: var(--text);
    font-size: 2vh;

    text-align: center;

    font-family: Montserrat;
    font-weight: bold;
}

.error_icon_container {
    display: flex;
    justify-content: center;
}

.error_icon {
    margin: 0 auto;

    max-width: 50%;
    height: auto;

    transition: all 0.5s;
}

.error_icon:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.error_icon:active {
    transition: none;
    background-color: var(--accent);
}