# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly. Also, please make sure, that amplify.yml
# adds every variable to .env.production in production.

# Development Stuff
# Useful for docker builds. Skips env validation.
SKIP_ENV_VALIDATION="false"
# Password used by ./start-database.sh.
DB_PASSSWORD="something"

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:something@localhost:5432/khenzii-dev"

# NextAuth Stuff
# Secret used by nextauth. For production, generate a secure one using:
# `openssl rand -base64 32`
NEXTAUTH_SECRET="devsecret"
NEXTAUTH_URL="http://localhost:3000/api/auth"
