### lets dont talk about this one
jakisplikktoryjestniewyswietlalnyzebypokazacsolesowistrone403.txt

### obvious stuff
node_modules/
secrets.env

### things that are not needed in the repo
nginx_config_symlink
test.js
test.py
.cache/
env/
# | blog profile pictures are in this directory
# V there is no need for them to be in the repo :)
images/blog/*.png
images/blog/*.jpg
images/blog/*.jpeg
images/blog/*.jfif
images/blog/*.webp
# some generated icons are stored in this direcotyr
images/zsl/logo/*.png