@import "../../../styles/constants";

.code_block {
    background-color: $background;
    padding: $defaultGap / 2;
    font-size: 80%;
    border-radius: 5px;
    border: solid 2px lighten($background, 10%);
}
