/* ADDING/CHANGING STUFF HERE WILL MAKE CHANGES ON THE WHOLE WEBSITE!! */
/* some constant rules are defined here */


body {
    background-color: var(--background);
    margin: 0;
    overflow: hidden;
}

p::selection {
    background-color: var(--text);
    color: var(--background)
}

p::-webkit-selection {
    background-color: var(--text);
    color: var(--background);
}