$background: #171617;
$contentBackground: #20201f;
$text: #FFFFFF;
$textDarkened: darken($text, 25%);
$primary: #5b5e5e;
$defaultGap: 10px;
$mobileWidth: 1200px;
$maxContentWidth: 1500px;
$navDesktopHeight: 75px;
$navMobileHeight: 100px;
$footerHeight: 50px;
