@import "../styles/constants.scss";

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background;
    overflow-x: hidden;
}

.footer {
    width: 100%;
}
