@import "./constants.scss";

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $contentBackground;
    min-height: 100vh;
}

.container {
  width: min($maxContentWidth / 2, 100vw - 2 * 10px);
}

.link {
  font-size: 2rem;

  :hover {
    color: $textDarkened !important;
  }
}

