@import "../styles/constants.scss";

.layout {
    background-color: $background;
    overflow-x: hidden;
    margin: 0;
}

.footer {
    height: $footerHeight;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    height: $navDesktopHeight;
}

.content {
    background-color: $contentBackground;
    min-height: calc(100vh - $navDesktopHeight - $footerHeight);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (width <= $mobileWidth) {
    .nav {
        height: $navMobileHeight;
    }

    .content {
        min-height: calc(100vh - $navMobileHeight - $footerHeight);
    }
}
