@import "../../../../styles/constants.scss";

.container {
    padding: $defaultGap;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.social {
    :hover {
        fill: $textDarkened;
    }
}
