@import "../../../../styles/constants.scss";

.container {
    padding: $defaultGap;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.closeIcon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 0 0 10px;

    :hover {
        color: $textDarkened !important;
    }
}

.social {
    :hover {
        color: $textDarkened !important;
    }
}

.socialContainer {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;
    gap: 10px;
}

@media (height <= 500px) {
    .socialContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}
