section.github-repo-card, section.github-repo-card * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* card styling (border, etc.) */
section.github-repo-card div.github-repo-card {
    width: 100%;
    height: 100%;
    border: 1px solid #30363d;
    padding: 16px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* user/repo_name */
section.github-repo-card div.github-repo-card a {
    color: #4e9fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

/* on hover user/repo_name */
section.github-repo-card div.github-repo-card a:hover {
    text-decoration: underline;
    color: var(--text);
}

/* repo's bio text */
section.github-repo-card div.github-repo-card p.desc {
    font-size: 12px;
    margin-bottom: 16px;
    margin-top: 8px;
    color: var(--text);
}

/* icons */
section.github-repo-card div.github-repo-card svg {
    cursor: pointer;
    fill: var(--secondary);
    width: 16px;
}

/* some CSS that makes stars and forks look good :) */
section.github-repo-card div.github-repo-card div.footer-info {
    display: flex;
    align-items: center;
}

/* the lang text */
section.github-repo-card div.github-repo-card p.lang {
    color: var(--text);
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
}

/* the color next to lang */
section.github-repo-card div.github-repo-card span.lang-color {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 6px;
    left: 0;
}

/* some CSS that aligns the stars and forks number */
section.github-repo-card div.github-repo-card div.footer-info a.stars-forks {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* the stars and forks number */
section.github-repo-card div.github-repo-card div.footer-info a.stars-forks span {
    font-size: 13px;
    margin-left: 2px;
    color: var(--text);
    pointer-events: none;
}

/* the star and forks color on hover */
section.github-repo-card div.github-repo-card div.footer-info a.stars-forks:hover span {
    color: var(--primary);
}

section.github-repo-card div.github-repo-card div.footer-info a.stars-forks:hover svg {
    fill: var(--primary);
}

/* Colors */

section.github-repo-card .ABAP { background: #E8274B; }
section.github-repo-card .ActionScript { background: #882B0F; }
section.github-repo-card .Ada { background: #02f88c; }
section.github-repo-card .Agda { background: #315665; }
section.github-repo-card .AGS-Script { background: #B9D9FF; }
section.github-repo-card .Alloy { background: #64C800; }
section.github-repo-card .AMPL { background: #E6EFBB; }
section.github-repo-card .ANTLR { background: #9DC3FF; }
section.github-repo-card .API-Blueprint { background: #2ACCA8; }
section.github-repo-card .APL { background: #5A8164; }
section.github-repo-card .Arc { background: #aa2afe; }
section.github-repo-card .Arduino { background: #bd79d1; }
section.github-repo-card .ASP { background: #6a40fd; }
section.github-repo-card .AspectJ { background: #a957b0; }
section.github-repo-card .Assembly { background: #6E4C13; }
section.github-repo-card .ATS { background: #1ac620; }
section.github-repo-card .AutoHotkey { background: #6594b9; }
section.github-repo-card .AutoIt { background: #1C3552; }
section.github-repo-card .BlitzMax { background: #cd6400; }
section.github-repo-card .Boo { background: #d4bec1; }
section.github-repo-card .Brainfuck { background: #2F2530; }
section.github-repo-card .C-Sharp { background: #178600; }
section.github-repo-card .C { background: #555555; }
section.github-repo-card .Chapel { background: #8dc63f; }
section.github-repo-card .Cirru { background: #ccccff; }
section.github-repo-card .Clarion { background: #db901e; }
section.github-repo-card .Clean { background: #3F85AF; }
section.github-repo-card .Click { background: #E4E6F3; }
section.github-repo-card .Clojure { background: #db5855; }
section.github-repo-card .CoffeeScript { background: #244776; }
section.github-repo-card .ColdFusion-CFC { background: #ed2cd6; }
section.github-repo-card .ColdFusion { background: #ed2cd6; }
section.github-repo-card .Common-Lisp { background: #3fb68b; }
section.github-repo-card .Component-Pascal { background: #b0ce4e; }
section.github-repo-card .C\+\+ { background: #f34b7d; }
section.github-repo-card .Crystal { background: #776791; }
section.github-repo-card .CSS { background: #563d7c; }
section.github-repo-card .C { background: #563d7c; }
section.github-repo-card .SCSS { background: #563d7c; }
section.github-repo-card .SASS { background: #563d7c; }
section.github-repo-card .D { background: #ba595e; }
section.github-repo-card .Dart { background: #00B4AB; }
section.github-repo-card .Diff { background: #88dddd; }
section.github-repo-card .DM { background: #447265; }
section.github-repo-card .Dogescript { background: #cca760; }
section.github-repo-card .Dylan { background: #6c616e; }
section.github-repo-card .E { background: #ccce35; }
section.github-repo-card .Eagle { background: #814C05; }
section.github-repo-card .eC { background: #913960; }
section.github-repo-card .ECL { background: #8a1267; }
section.github-repo-card .edn { background: #db5855; }
section.github-repo-card .Eiffel { background: #946d57; }
section.github-repo-card .Elixir { background: #6e4a7e; }
section.github-repo-card .Elm { background: #60B5CC; }
section.github-repo-card .Emacs-Lisp { background: #c065db; }
section.github-repo-card .EmberScript { background: #FFF4F3; }
section.github-repo-card .Erlang { background: #B83998; }
section.github-repo-card .F-Sharp { background: #b845fc; }
section.github-repo-card .Factor { background: #636746; }
section.github-repo-card .Fancy { background: #7b9db4; }
section.github-repo-card .Fantom { background: #dbded5; }
section.github-repo-card .FLUX { background: #88ccff; }
section.github-repo-card .Forth { background: #341708; }
section.github-repo-card .FORTRAN { background: #4d41b1; }
section.github-repo-card .FreeMarker { background: #0050b2; }
section.github-repo-card .Frege { background: #00cafe; }
section.github-repo-card .Game-Maker-Language { background: #8fb200; }
section.github-repo-card .Glyph { background: #e4cc98; }
section.github-repo-card .Gnuplot { background: #f0a9f0; }
section.github-repo-card .Go { background: #375eab; }
section.github-repo-card .Golo { background: #88562A; }
section.github-repo-card .Gosu { background: #82937f; }
section.github-repo-card .Grammatical-Framework { background: #79aa7a; }
section.github-repo-card .Groovy { background: #e69f56; }
section.github-repo-card .Handlebars { background: #01a9d6; }
section.github-repo-card .Harbour { background: #0e60e3; }
section.github-repo-card .Haskell { background: #29b544; }
section.github-repo-card .Haxe { background: #df7900; }
section.github-repo-card .HTML { background: #e44b23; }
section.github-repo-card .Hy { background: #7790B2; }
section.github-repo-card .IDL { background: #a3522f; }
section.github-repo-card .Io { background: #a9188d; }
section.github-repo-card .Ioke { background: #078193; }
section.github-repo-card .Isabelle { background: #FEFE00; }
section.github-repo-card .J { background: #9EEDFF; }
section.github-repo-card .Java { background: #b07219; }
section.github-repo-card .JavaScript { background: #f1e05a; }
section.github-repo-card .JFlex { background: #DBCA00; }
section.github-repo-card .JSONiq { background: #40d47e; }
section.github-repo-card .Julia { background: #a270ba; }
section.github-repo-card .Jupyter-Notebook { background: #DA5B0B; }
section.github-repo-card .Kotlin { background: #F18E33; }
section.github-repo-card .KRL { background: #28431f; }
section.github-repo-card .Lasso { background: #999999; }
section.github-repo-card .Latte { background: #A8FF97; }
section.github-repo-card .Lex { background: #DBCA00; }
section.github-repo-card .LFE { background: #004200; }
section.github-repo-card .LiveScript { background: #499886; }
section.github-repo-card .LOLCODE { background: #cc9900; }
section.github-repo-card .LookML { background: #652B81; }
section.github-repo-card .LSL { background: #3d9970; }
section.github-repo-card .Lua { background: #000080; }
section.github-repo-card .Makefile { background: #427819; }
section.github-repo-card .Mask { background: #f97732; }
section.github-repo-card .Matlab { background: #bb92ac; }
section.github-repo-card .Max { background: #c4a79c; }
section.github-repo-card .MAXScript { background: #00a6a6; }
section.github-repo-card .Mercury { background: #ff2b2b; }
section.github-repo-card .Metal { background: #8f14e9; }
section.github-repo-card .Mirah { background: #c7a938; }
section.github-repo-card .MTML { background: #b7e1f4; }
section.github-repo-card .NCL { background: #28431f; }
section.github-repo-card .Nemerle { background: #3d3c6e; }
section.github-repo-card .nesC { background: #94B0C7; }
section.github-repo-card .NetLinx { background: #0aa0ff; }
section.github-repo-card .NetLinx-ERB { background: #747faa; }
section.github-repo-card .NetLogo { background: #ff6375; }
section.github-repo-card .NewLisp { background: #87AED7; }
section.github-repo-card .Nimrod { background: #37775b; }
section.github-repo-card .Nit { background: #009917; }
section.github-repo-card .Nix { background: #7e7eff; }
section.github-repo-card .Nu { background: #c9df40; }
section.github-repo-card .Objective-C { background: #438eff; }
section.github-repo-card .Objective-Cpp { background: #6866fb; }
section.github-repo-card .Objective-J { background: #ff0c5a; }
section.github-repo-card .OCaml { background: #3be133; }
section.github-repo-card .Omgrofl { background: #cabbff; }
section.github-repo-card .ooc { background: #b0b77e; }
section.github-repo-card .Opal { background: #f7ede0; }
section.github-repo-card .Oxygene { background: #cdd0e3; }
section.github-repo-card .Oz { background: #fab738; }
section.github-repo-card .Pan { background: #cc0000; }
section.github-repo-card .Papyrus { background: #6600cc; }
section.github-repo-card .Parrot { background: #f3ca0a; }
section.github-repo-card .Pascal { background: #b0ce4e; }
section.github-repo-card .PAWN { background: #dbb284; }
section.github-repo-card .Perl { background: #0298c3; }
section.github-repo-card .Perl6 { background: #0000fb; }
section.github-repo-card .PHP { background: #4F5D95; }
section.github-repo-card .PigLatin { background: #fcd7de; }
section.github-repo-card .Pike { background: #005390; }
section.github-repo-card .PLSQL { background: #dad8d8; }
section.github-repo-card .PogoScript { background: #d80074; }
section.github-repo-card .Processing { background: #0096D8; }
section.github-repo-card .Prolog { background: #74283c; }
section.github-repo-card .Propeller-Spin { background: #7fa2a7; }
section.github-repo-card .Puppet { background: #302B6D; }
section.github-repo-card .Pure-Data { background: #91de79; }
section.github-repo-card .PureBasic { background: #5a6986; }
section.github-repo-card .PureScript { background: #1D222D; }
section.github-repo-card .Python { background: #3572A5; }
section.github-repo-card .QML { background: #44a51c; }
section.github-repo-card .R { background: #198ce7; }
section.github-repo-card .Racket { background: #22228f; }
section.github-repo-card .Ragel-in-Ruby-Host { background: #9d5200; }
section.github-repo-card .RAML { background: #77d9fb; }
section.github-repo-card .Rebol { background: #358a5b; }
section.github-repo-card .Red { background: #ee0000; }
section.github-repo-card .Ren-Py { background: #ff7f7f; }
section.github-repo-card .Rouge { background: #cc0088; }
section.github-repo-card .Ruby { background: #701516; }
section.github-repo-card .Rust { background: #dea584; }
section.github-repo-card .SaltStack { background: #646464; }
section.github-repo-card .SAS { background: #B34936; }
section.github-repo-card .Scala { background: #DC322F; }
section.github-repo-card .Scheme { background: #1e4aec; }
section.github-repo-card .Self { background: #0579aa; }
section.github-repo-card .Shell { background: #89e051; }
section.github-repo-card .Shen { background: #120F14; }
section.github-repo-card .Slash { background: #007eff; }
section.github-repo-card .Slim { background: #ff8f77; }
section.github-repo-card .Smalltalk { background: #596706; }
section.github-repo-card .SourcePawn { background: #5c7611; }
section.github-repo-card .SQF { background: #3F3F3F; }
section.github-repo-card .Squirrel { background: #800000; }
section.github-repo-card .Stan { background: #b2011d; }
section.github-repo-card .Standard-ML { background: #dc566d; }
section.github-repo-card .SuperCollider { background: #46390b; }
section.github-repo-card .Swift { background: #ffac45; }
section.github-repo-card .SystemVerilog { background: #DAE1C2; }
section.github-repo-card .Tcl { background: #e4cc98; }
section.github-repo-card .TeX { background: #3D6117; }
section.github-repo-card .Turing { background: #45f715; }
section.github-repo-card .TypeScript { background: #2b7489; }
section.github-repo-card .Unified-Parallel-C { background: #4e3617; }
section.github-repo-card .Unity3D-Asset { background: #ab69a1; }
section.github-repo-card .UnrealScript { background: #a54c4d; }
section.github-repo-card .Vala { background: #fbe5cd; }
section.github-repo-card .Verilog { background: #b2b7f8; }
section.github-repo-card .VHDL { background: #adb2cb; }
section.github-repo-card .VimL { background: #199f4b; }
section.github-repo-card .Visual-Basic { background: #945db7; }
section.github-repo-card .Volt { background: #1F1F1F; }
section.github-repo-card .Vue { background: #2c3e50; }
section.github-repo-card .Web-Ontology-Language { background: #9cc9dd; }
section.github-repo-card .wisp { background: #7582D1; }
section.github-repo-card .X10 { background: #4B6BEF; }
section.github-repo-card .xBase { background: #403a40; }
section.github-repo-card .XC { background: #99DA07; }
section.github-repo-card .XQuery { background: #5232e7; }
section.github-repo-card .Zephir { background: #118f9e; }