@import '../../../presets/variables.css';
@import '../../../presets/fonts.css';
@import '../../../presets/body.css';

.container {
    display: grid;
    place-items: center;
}

.home_container {
    margin-top: 5vh;
}

.home_icon { 
    width: 7.5vw;
    height: auto;

    transition: all 0.5s;
}

.home_icon:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.home_icon:active {
    transition: none;
    background-color: var(--accent);
}

.main-text {
    margin-top: 5vh;
    margin-bottom: 0;

    text-align: center;
    font-size: 2vw;
    color: var(--text);
    font-family: Montserrat;
    font-weight: 900;
}

.line {
    width: 30vw;
    color: var(--secondary);
}

.sub-text {
    color: var(--text);
    text-align: center;
    font-family: Montserrat;
    font-size: 1vw;
    max-width: 30vw;

    margin: 0;

}

.icons_container {
    display: flex;
}

.icons {
   width: 10vw; 
}

@keyframes fadeAndMove {
  0% {
    opacity: 0;
    transform: translateY(-1vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes reverseFadeAndMove {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-1vh);
  }
}

.icons_text {
    color: var(--text);
    text-align: center;
    font-family: Montserrat;
    font-size: 1vw;

    opacity: 0;
}

.icons_text-none {
    display: none;
}

.icons:hover + .icons_text {
    animation: fadeAndMove 1s ease-in-out forwards;
}

.icons_text:not(:hover) {
    animation: reverseFadeAndMove 1s ease-in-out forwards;
}

.project {

}
