@import '../../../presets/variables.css';
@import '../../../presets/fonts.css';
@import '../../../presets/body.css';

.transition-push {
    display: grid;
    place-items: center;

    transform: translateY(0);
    transition: all 1500ms;
}

html.is-leaving.to-bottom .transition-push {
    transform: translateY(-100%);
}

html.is-rendering.to-bottom .transition-push {
    opacity: 1;
}

html.is-animating.to-bottom .transition-push {
    opacity: 0;
}


html.is-leaving.to-top .transition-push {
    transform: translateY(100%);
}

html.is-rendering.to-top .transition-push {
    opacity: 1;
}

html.is-animating.to-top .transition-push {
    opacity: 0;
}


.arrow_container {
    margin-top: 2.5vh;
}

.arrow_icon {
    width: 7.5vw;
    height: auto;

    transition: all 0.5s;
}

.arrow_icon:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.arrow_icon:active {
    transition: none;
    background-color: var(--accent);
}

.home_container {
    margin-top: 2.5vh;
}

.home_icon {
    width: 7.5vw;
    height: auto;

    transition: all 0.5s;
}

.home_icon:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.home_icon:active {
    transition: none;
    background-color: var(--accent);
}

.main-text {
    margin-top: 2.5vh;
    margin-bottom: 0;

    text-align: center;
    font-size: 2vw;
    color: var(--text);
    font-family: Montserrat;
    font-weight: 900;
}

.line {
    width: 30vw;
    color: var(--secondary);
}

.sub-text {
    color: var(--text);
    text-align: center;
    font-family: Montserrat;
    font-size: 1vw;
    max-width: 30vw;

    margin: 0;
    margin-bottom: 2.5vh;
}

.icons_container {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.icons {
    width: 5vw;
    height: auto;

    transition: all 1s;

    display: block;
    margin: auto;
}

.icons_text {
    color: var(--text);
    text-align: center;
    font-family: Montserrat;
    font-size: 1vw;

    opacity: 0;
    transform: translateY(-1vh);
    cursor: default;

    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.icons:hover {
    width: 7.5vw;
}

.icons:hover+.icons_text {
    opacity: 1;
    transform: translateY(0);
}

.down_arrow {
    margin-top: -2.5vh;
    width: 5vw;

    transition: all 0.5s;
}

.down_arrow:hover {
    border-radius: 2vh;
    background-color: var(--secondary);
}

.down_arrow:active {
    transition: none;
    background-color: var(--accent);
}