.container {
    /* height: 100vh; */
    /* by making the height not full screen, centering
    the whole container will make the elements appear
    kinda higher (and it looks better).*/
    height: 90vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    /* Center horizontally */
    justify-content: center;
    /* Center vertically */
    align-items: center;
}

.icon {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;
    height: auto;

    transition: all 0.5s;
}

.icon:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.icon:active {
    transition: none;
    background-color: var(--accent);
}

.line {
    margin: 2vh;

    width: 30vw;

    border-color: var(--secondary);
    background-color: var(--secondary);
    color: var(--secondary);
}

.text-1 {
    color: var(--text);

    text-align: center;

    font-size: 2vh;
    font-family: Montserrat;
    font-weight: 900;
}

.text-2 {
    color: var(--text);

    text-align: center;

    font-size: 1.75vh;
    font-family: Montserrat;
    font-weight: 700;

    width: 30vw;
}