.centered_container {
    display: grid;
    place-items: center;

    height: auto;
}


.home_icon {
    margin: 2vh;

    width: 50vw;
    height: auto;

    transition: all 0.5s;
}

.home_icon:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.home_icon:active {
    transition: none;
    background-color: var(--accent);
}


.line {
    width: 60vw;
    color: var(--secondary);
}

.input_username {
    margin-top: 3vh;

    width: 45vw;
    height: 6vh;

    background-color: var(--secondary);
    color: var(--text);

    text-align: center;

    font-size: 3.5vh;
    font-family: Montserrat;

    border: none;
    border-radius: 1vh;

    transition: all 0.5s;
}

.username_text {
    margin-top: 2vh;
    margin-bottom: 2vh;

    width: 30vw;
    height: 6vh;

    color: var(--text);
    text-align: center;
    font-size: 2vh;
    font-family: Montserrat;

    font-weight: 900;

    opacity: 0;

    transition: all 0.5s;
    cursor: default;
}

.input_username:focus {
    width: 60vw;
    height: 8vh;
    outline-offset: 0.5vh;
    outline: 0.5vh solid var(--primary);
}

.input_username:focus+.username_text {
    opacity: 1;
    cursor: text;
    margin-bottom: 3vh;
}


.input_password {
    width: 45vw;
    height: 6vh;

    background-color: var(--secondary);
    color: var(--text);

    text-align: center;

    font-size: 3.5vh;
    font-family: Montserrat;

    border: none;
    border-radius: 1vh;

    transition: all 0.5s;
}

.password_text {
    margin-top: 2vh;
    margin-bottom: 2vh;

    width: 80vw;
    height: 6vh;

    color: var(--text);
    text-align: center;
    font-size: 2vh;
    font-family: Montserrat;

    font-weight: 900;

    opacity: 0;

    transition: all 0.5s;
    cursor: default;
}

.input_password:focus {
    width: 60vw;
    height: 8vh;
    outline-offset: 0.5vh;
    outline: 0.5vh solid var(--primary);
}

.input_password:focus+.password_text {
    opacity: 1;
    cursor: text;
    height: 8;
    margin-bottom: 3vh;
}


.login_button {
    margin-top: 3vh;

    scale: 1;
    width: 45vw;

    background-color: transparent;
    
    font-size: 100%;
    color: var(--text);

    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    border: 1px solid #fff;
    cursor: pointer;
    letter-spacing: 2px;
    overflow: hidden;
}

.login_button:before {
    content: "";
    position: absolute;
    height: 340%;
    width: 30%;
    background: #fff;
    right: -27.5%;
    top: -70%;
    transform: rotate(37deg) translateY(-20%);
    transition: all .3s;
    opacity: 0.3;
}

.login_button:hover:before {
    right: 105%;
}

.info_text {
    margin-top: 4vh;

    width: 60vw;
    height: 6vh;

    color: var(--text);
    text-align: center;
    font-size: 2vh;
    font-family: Montserrat;

    font-weight: 900;

    opacity: 0;

    transition: all 0.5s;
    cursor: default;
}