@import '../../../presets/variables.css';
@import '../../../presets/fonts.css';
@import '../../../presets/body.css';

body {
    overflow: scroll;
    overflow-x: hidden;
}

code {
    background-color: var(--background);
    border-radius: 1vh;
    font-family: Montserrat;
    color: var(--secondary);
    padding: 1vw;
}

.shadow_effect {
    position: fixed;

    height: 100vh;
    width: 100vw;

    background-color: #000000;
    opacity: 0.8;

    display: none;
    z-index: 2;
}

.centered_container {
    display: grid;
    place-items: center;

    height: auto;
}

.info_container {
    display: grid;
    place-items: center;
    width: 20vw;
}

.post_container {
    width: 20vw;
}

.back_to_profile_button {
    margin-top: 2vh;

    background: transparent;
    border: transparent;

    cursor: pointer;

    height: 7.5vh;
    width: auto;
}

.back_to_profile_button_image {
    border: transparent;
    transition: all 500ms;

    width: 100%;
    height: 100%;
}

.back_to_profile_button_image:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.under_button {
    color: var(--text);

    font-size: 1.35vh;
    font-family: Montserrat;
    font-weight: 500;

    max-width: 10vw;
    height: auto;
    word-wrap: break-word;

    margin: 2vh;
}

.line {
    width: 100%;
    color: var(--secondary);
}

.pfp {
    margin-top: 2vh;

    width: 10vw;
    height: 10vw;

    border-width: 2px;
    border-radius: 50%;
    border-style: solid;
    overflow: hidden;
    border-color: var(--text);
}

.username {
    color: var(--text);

    text-align: center;

    font-size: 2vh;
    font-family: Montserrat;
    font-weight: 900;

    margin: 2vh;
}

.under_username {
    color: var(--text);

    font-size: 1.5vh;
    font-family: Montserrat;
    font-weight: 500;

    max-width: 10vw;
    height: auto;
    word-wrap: break-word;

    margin: 2vh;
    margin-top: 0;
}

.post {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.post_ui {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3vh;
}

.post_created_at {
    margin: 0;

    text-align: left;

    color: var(--text);

    font-size: 1vh;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
}

.post_more {
    background-color: transparent;
    max-height: 100%;
    border: none;
    padding: 0;
    height: 2vh;
    cursor: pointer;
}

.post_more_image {
    z-index: 2;

    height: 2vh;
}

.post_text {
    margin-top: 1vh;
    margin-bottom: 1vh;

    color: var(--text);

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;
}

.more_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    height: fit-content;
    width: 20vw;

    position: fixed;
    z-index: 3;

    display: none;
    /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.more_box_close {
    color: var(--text);
    cursor: pointer;
}

.more_button_container {
    margin-top: 2vh;
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.more_button_info {
    background-color: transparent;
    height: 7.5vh;
    border: none;
    padding: 0;
    cursor: pointer;
}

.more_button_info_image {
    z-index: 2;
    height: 100%;
    transition: all 0.5s;
}

.more_button_info_image:hover {
    border-radius: 1.5vh;
    background-color: var(--secondary);
}

.more_button_share {
    background-color: transparent;
    height: 7.5vh;
    border: none;
    padding: 0;
    cursor: pointer;
}

.more_button_share_image {
    z-index: 2;
    height: 100%;
    transition: all 0.5s;
}

.more_button_share_image:hover {
    border-radius: 1.5vh;
    background-color: var(--secondary);
}

.more_info_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    min-height: 15vh;
    width: 25vw;

    position: fixed;
    z-index: 4;

    display: none;
    /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.more_info_box_close {
    color: var(--text);
    cursor: pointer;
}

.info_list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    height: fit-content;

    gap: 1vh;
    list-style-type: none;
    margin-top: 2vh;
    padding: 0;
}

.info_text {
    padding: 0;
    margin: 0;

    text-align: center;

    color: var(--text);

    font-size: 1.5vh;
    font-family: Montserrat;
    font-weight: 500;

    max-width: 20vw;
    height: auto;
    word-wrap: break-word;
}

.more_share_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    min-height: 15vh;
    width: 25vw;

    position: fixed;
    z-index: 4;

    display: none;
    /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.more_share_box_close {
    color: var(--text);
    cursor: pointer;
}

.share_link_preview {
    margin-top: 2vh;
}

.copy_button {
    margin-top: 2vh;

    background-color: transparent;
    height: 5vh;
    border: none;
    padding: 0;
    cursor: pointer;
}

.copy_button_image {
    z-index: 2;
    height: 100%;
    transition: all 0.5s;
}

.copy_button_image:hover {
    border-radius: 1.5vh;
    background-color: var(--secondary);
}

.info_text_share {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin-top: 2vh;
}