@import '../../../presets/variables.css';
@import '../../../presets/fonts.css';
@import '../../../presets/body.css';

body {
    overflow: scroll;
    overflow-x: hidden;
}

code {
    background-color: var(--background);
    border-radius: 1vh;
    font-family: Montserrat;
    color: var(--secondary);
    padding: 1vw;
}

.shadow_effect {
    position: fixed;

    height: 100vh;
    width: 100vw;

    background-color: #000000;
    opacity: 0.8;

    display: none;
    z-index: 2;
}

.container {
    width: fit-content;
    height: fit-content;

    position: relative;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
}

.search_container_parent {
    position: relative;
    top: -5vh;
    transform: translateY(-50%);
}

.search_container {
    position: relative;

    width: 100%;
    height: 2vh;
}

.search_input {
    background-color: var(--background_less);
    border: none;

    color: var(--text);

    padding-left: 5%;
    height: 100%;
    width: 95%;
}

.search_input_icon_image {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.search_text {
    color: var(--text);

    text-align: center;

    font-size: 1.5vh;
    font-family: Montserrat;
    font-weight: 600;

    padding: 0;
    width: 100%;
}

.profile_container_parent {
    display: flex;
}

.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pfp_container {
    width: 10vw;
    height: 10vw;

    border: 2px solid var(--text);
    border-radius: 50%;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfp {
    height: 100%;
    width: 100%;
}

.username {
    color: var(--text);

    text-align: center;

    font-size: 2vh;
    font-family: Montserrat;
    font-weight: 900;
}

.bio {
    color: var(--text);

    font-size: 1.5vh;
    font-family: Montserrat;
    font-weight: 700;

    max-width: 10vw;
    height: auto;
    word-wrap: break-word;

    margin-bottom: 0;
}

/*
ima implement links later
.links {
    
}
*/

.joined_at {
    color: var(--text);

    font-size: 1vh;
    font-family: Montserrat;
    font-weight: 500;

    max-width: 10vw;
    height: auto;
    word-wrap: break-word;

    margin-top: 0;
}

.user_id {
    margin-bottom: 0;

    color: var(--text);

    font-size: 1vh;
    font-family: Montserrat;
    font-weight: 500;

    max-width: 10vw;
    height: auto;
    word-wrap: break-word;
}

.settings_button {
    background: transparent;
    border: transparent;

    cursor: pointer;

    width: 40%;
    height: auto;
}

.settings_button_image {
    background-color: transparent;
    border: transparent;
    transition: all 500ms;

    width: 100%;
    height: 100%;
}

.settings_button_image:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.line {
    margin: 2vw;
    color: var(--secondary);
}

.login_button {
    scale: 1;
    width: 10vw;

    background-color: transparent;

    color: var(--text);
    font-size: 100%;

    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    border: 1px solid #fff;
    cursor: pointer;
    letter-spacing: 2px;
    overflow: hidden;
}

.login_button:before {
    content: "";
    position: absolute;
    height: 340%;
    width: 30%;
    background: #fff;
    right: -27.5%;
    top: -70%;
    transform: rotate(37deg) translateY(-20%);
    transition: all .3s;
    opacity: 0.3;
}

.login_button:hover:before {
    right: 105%;
}

.logged_or_not_line {
    margin: 2vh;
    width: 80%;
    color: var(--secondary);
}

.register_button {
    margin-top: 1vh;

    scale: 1;
    width: 10vw;

    background-color: transparent;

    color: var(--text);
    font-size: 100%;

    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    border: 1px solid #fff;
    cursor: pointer;
    letter-spacing: 2px;
    overflow: hidden;
}

.register_button:before {
    content: "";
    position: absolute;
    height: 340%;
    width: 30%;
    background: #fff;
    right: -27.5%;
    top: -70%;
    transform: rotate(37deg) translateY(-20%);
    transition: all .3s;
    opacity: 0.3;
}

.register_button:hover:before {
    right: 105%;
}

.content_container {
    display: flex;
    align-items: center;

    flex-direction: column;
}

.category_create_button {
    background: transparent;
    border: transparent;

    cursor: pointer;

    width: 20%;
    height: auto;

    margin-bottom: 2vh;
}

.category_create_button_image {
    background-color: transparent;
    border: transparent;
    transition: all 500ms;

    width: 100%;
    height: 100%;
}

.category_create_button_image:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.categories {
    list-style-type: none;
    margin: 0;
    padding: 0;

    width: 20vw;

    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.category {
    display: flex;
    flex-direction: row;
    min-height: 2vh;
}

.category_details {
    width: 100%;
}

.category_ui_container {
    display: flex;
    width: 10%;
    height: fit-content;

    position: absolute;
    left: 90%;

    justify-content: end;
}

.category_drag {
    z-index: 2;

    height: 2vh;

    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.dragging {
    opacity: 0.3;
}

.category_more {
    background-color: transparent;
    height: 2vh;
    border: none;
    padding: 0;
    cursor: pointer;
}

.category_more_image {
    z-index: 2;

    height: 2vh;
}

.info_text {
    color: var(--text);

    text-align: center;

    font-size: 0.9vw;
    font-family: Montserrat;
    font-weight: 800;

    word-wrap: break-word;
}

.category_title {
    color: var(--text);

    width: 80%;

    font-size: 0.9vw;
    font-family: Montserrat;
    font-weight: 600;

    word-wrap: break-word;

    cursor: pointer;
}

.description_text {
    color: var(--text);

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;
}

.post_line {
    margin: 1vh;
    margin-left: 0;
    margin-right: 0;

    width: 100%;

    color: var(--secondary);
}

.posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.post_ui {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3vh;
}

.post_created_at {
    margin: 0;

    text-align: left;

    color: var(--text);

    font-size: 1vh;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
}

.post_more {
    background-color: transparent;
    max-height: 100%;
    border: none;
    padding: 0;
    height: 2vh;
    cursor: pointer;
}

.post_more_image {
    z-index: 2;

    height: 2vh;
}

.post_text {
    margin-top: 1vh;
    margin-bottom: 1vh;

    color: var(--text);

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    max-width: 100%;
}

.info_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    height: fit-content;
    width: 20vw;

    position: fixed;
    z-index: 3;

    display: none;
    /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.info_box_close {
    color: var(--text);
    cursor: pointer;
}

.info_box_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin: 2vh;
}

.more_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    height: fit-content;
    width: 20vw;

    position: fixed;
    z-index: 3;

    display: none;
    /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.more_box_close {
    color: var(--text);
    cursor: pointer;
}

.more_button_container {
    margin-top: 2vh;
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.more_button_info {
    background-color: transparent;
    height: 5vh;
    border: none;
    padding: 0;
    cursor: pointer;
}

.more_button_info_image {
    z-index: 2;
    height: 100%;
    transition: all 0.5s;
}

.more_button_info_image:hover {
    border-radius: 1.5vh;
    background-color: var(--secondary);
}

.more_button_share {
    background-color: transparent;
    height: 5vh;
    border: none;
    padding: 0;
    cursor: pointer;
}

.more_button_share_image {
    z-index: 2;
    height: 100%;
    transition: all 0.5s;
}

.more_button_share_image:hover {
    border-radius: 1.5vh;
    background-color: var(--secondary);
}

.more_button_delete {
    background-color: transparent;
    height: 5vh;
    border: none;
    padding: 0;
    cursor: pointer;
}

.more_button_delete_image {
    z-index: 2;
    height: 100%;
    transition: all 0.5s;
}

.more_button_delete_image:hover {
    border-radius: 1.5vh;
    background-color: var(--secondary);
}

.more_info_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    min-height: 15vh;
    width: 25vw;

    position: fixed;
    z-index: 4;

    display: none;
    /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.more_info_box_close {
    color: var(--text);
    cursor: pointer;
}

.category_info_list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    height: fit-content;

    gap: 1vh;
    list-style-type: none;
    margin-top: 2vh;
    padding: 0;
}

.category_info_text {
    padding: 0;
    margin: 0;

    text-align: center;

    color: var(--text);

    font-size: 1.5vh;
    font-family: Montserrat;
    font-weight: 500;

    max-width: 20vw;
    height: auto;
    word-wrap: break-word;
}

.more_share_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    min-height: 15vh;
    width: 25vw;

    position: fixed;
    z-index: 4;

    display: none;
    /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.more_share_box_close {
    color: var(--text);
    cursor: pointer;
}

.share_link_preview {
    margin-top: 2vh;
}

.copy_button {
    margin-top: 2vh;

    background-color: transparent;
    height: 5vh;
    border: none;
    padding: 0;
    cursor: pointer;
}

.copy_button_image {
    z-index: 2;
    height: 100%;
    transition: all 0.5s;
}

.copy_button_image:hover {
    border-radius: 1.5vh;
    background-color: var(--secondary);
}

.info_text_share {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin-top: 2vh;
}

.more_delete_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    min-height: 15vh;
    width: 25vw;

    position: fixed;
    z-index: 4;

    display: none;
    /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.more_delete_box_close {
    color: var(--text);
    cursor: pointer;
}

.more_delete_box_info_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 700;

    word-wrap: break-word;

    margin-top: 2vh;
    margin-bottom: 0;
}

.more_delete_box_info_text_smaller {
    color: var(--text);

    text-align: center;

    font-size: 0.6vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin-top: 1vh;
    margin-bottom: 0;
}

.sure_input {
    text-align: center;

    margin-top: 2vh;
    width: 40%;
    height: 20%;

    color: var(--text);
    background-color: var(--background);
    padding: 1vh;
    border-radius: 1vh;
    border: none;
}

.more_delete_box_info_text_under {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin-top: 2vh;
}

.delete_button {
    background: transparent;
    border: transparent;

    cursor: pointer;

    height: 7vh;
    width: auto;
}

.delete_button_image {
    background-color: transparent;
    border: transparent;
    transition: all 500ms;

    width: 100%;
    height: 100%;
}

.delete_button_image:hover {
    background-color: var(--warning);
    border-radius: 2vh;
}

.more_delete_box_final_info {
    display: none;

    color: var(--text);
    text-align: center;
    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    margin: 2vh;
}

.create_category {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    height: fit-content;
    width: 20vw;

    position: fixed;
    z-index: 3;

    display: none;
    /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.create_category_close {
    color: var(--text);
    cursor: pointer;
}

.create_category_title_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin: 2vh;
}

.create_category_description_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin: 2vh;
}

.create_category_title_input {
    width: 60%;
    height: 3.5vh;

    min-width: 10vw;
    min-height: 3vh;

    max-width: 90%;
    max-height: none;

    color: var(--text);
    background-color: var(--background);
    padding: 1vh;
    border-radius: 1vh;
    border: none;
}

.create_category_description_input {
    margin-bottom: 1.5vh;

    width: 80%;
    height: 5vh;

    min-width: 10vw;
    min-height: 3vh;

    max-width: 90%;
    max-height: none;

    color: var(--text);
    background-color: var(--background);
    padding: 1vh;
    border-radius: 1vh;
    border: none;
}

.create_category_create_button {
    background: transparent;
    border: transparent;

    cursor: pointer;

    height: 7vh;
    width: auto;
}

.create_category_create_button_image {
    background-color: transparent;
    border: transparent;
    transition: all 500ms;

    width: 100%;
    height: 100%;
}

.create_category_create_button_image:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.create_category_info_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin: 2vh;
}

.create_post {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    height: fit-content;
    width: 20vw;

    position: fixed;
    z-index: 3;

    display: none;
    /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.create_post_close {
    color: var(--text);
    cursor: pointer;
}

.create_post_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin: 2vh;
}

/*
.create_post_title_input {

}
*/

.create_post_input {
    margin-bottom: 1.5vh;

    width: 80%;
    height: 5vh;

    min-width: 10vw;
    min-height: 3vh;

    max-width: 90%;
    max-height: none;

    color: var(--text);
    background-color: var(--background);
    padding: 1vh;
    border-radius: 1vh;
    border: none;
}

.create_post_create_button {
    background: transparent;
    border: transparent;

    cursor: pointer;

    height: 7vh;
    width: auto;
}

.create_post_create_button_image {
    background-color: transparent;
    border: transparent;
    transition: all 500ms;

    width: 100%;
    height: 100%;
}

.create_post_create_button_image:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.create_post_info_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin: 2vh;
}

.post_create_button {
    background: transparent;
    border: transparent;

    cursor: pointer;

    height: 5vh;
    width: auto;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.post_create_button_image {
    background-color: transparent;
    border: transparent;
    transition: all 500ms;

    width: 100%;
    height: 100%;
}

.post_create_button_image:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.show_more_posts_button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.no {
    opacity: 0.3;
    cursor: not-allowed;
}