@import '../../../presets/variables.css';
@import '../../../presets/fonts.css';
@import '../../../presets/body.css';

.shadow_effect {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: #000000;
    opacity: 0.8;

    display: none;
    z-index: 2;
}

.container {
    width: fit-content;
    height: fit-content;

    position: relative;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
}

.search_container_parent {
    position: relative;
    top: -5vh;
    transform: translateY(-50%);
}

.search_container {
    position: relative;

    width: 100%;
    height: 2vh;
}

.search_input {
    background-color: var(--background_less);
    border: none;

    color: var(--text);

    padding-left: 5%;
    height: 100%;
    width: 95%;
}

.search_input_icon_image {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.search_text {
    color: var(--text);

    text-align: center;

    font-size: 1.5vh;
    font-family: Montserrat;
    font-weight: 600;

    padding: 0;
    width: 100%;
}

.profile_container_parent {
    display: flex;
}

/*
i'll probably put some stuff here later
.profile_container {
    
}
*/

.pfp {
    width: 10vw;
    height: auto;

    border-width: 2px;
    border-radius: 50%;
    border-style: solid;
    overflow: hidden;
    border-color: var(--text);
}

.username {
    color: var(--text);

    text-align: center;

    font-size: 2vh;
    font-family: Montserrat;
    font-weight: 900;
}

.bio {
    color: var(--text);

    font-size: 1.5vh;
    font-family: Montserrat;
    font-weight: 700;

    max-width: 10vw;
    height: auto;
    word-wrap: break-word;
}

.joined_at {
    color: var(--text);

    font-size: 1vh;
    font-family: Montserrat;
    font-weight: 500;

    max-width: 10vw;
    height: auto;
    word-wrap: break-word;
}

.user_id {
    color: var(--text);

    font-size: 1vh;
    font-family: Montserrat;
    font-weight: 500;

    max-width: 10vw;
    height: auto;
    word-wrap: break-word;
}

/*
ima implement links later
.links {
    
}
*/

.line {
    margin: 2vw;
    color: var(--secondary);
}

.content_container {
    display: flex;
    align-items: center;

    flex-direction: column;
}

.category_create_button {
    background: transparent;
    border: transparent;

    cursor: pointer;

    width: 20%;
    height: auto;
}

.category_create_button_image {
    background-color: transparent;
    border: transparent;
    transition: all 500ms;

    width: 100%;
    height: 100%;
}

.category_create_button_image:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.categories {
    list-style-type: none;
    margin: 0;
    padding: 0;

    width: 20vw;

    display: flex;
    flex-direction: column;
    gap: 1vh;
}

/*
.category {
    
}
*/

/*
.category_details {
    
}
*/

.info_text {
    color: var(--text);

    text-align: center;

    font-size: 0.9vw;
    font-family: Montserrat;
    font-weight: 800;

    word-wrap: break-word;
}

.category_title {
    color: var(--text);

    font-size: 0.9vw;
    font-family: Montserrat;
    font-weight: 600;

    word-wrap: break-word;

    cursor: pointer;
}

.description_text {
    color: var(--text);

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;
}

.post_line {
    margin: 1vh;
    margin-left: 0;
    margin-right: 0;

    width: 100%;

    color: var(--secondary);
}

.posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*
.post {

}
*/

.post_info {
    width: 100%;

    display: flex;
    flex-direction: row;

    
}

.post_created_at {
    flex: 1;

    text-align: left;

    color: var(--text);

    font-size: 1vh;
    font-family: Montserrat;
    font-weight: 500;

    max-width: 10vw;
    height: auto;
    word-wrap: break-word;
}

.post_id {
    flex: 1;

    text-align: right;

    color: var(--text);

    font-size: 1vh;
    font-family: Montserrat;
    font-weight: 500;

    max-width: 10vw;
    height: auto;
    word-wrap: break-word;
}

.post_index_in_category {
    text-align: right;

    position: relative;
    left: 100%;
    transform: translateX(-100%);

    width: 100%;

    color: var(--text);

    font-size: 1vh;
    font-family: Montserrat;
    font-weight: 500;

    max-width: 10vw;
    height: auto;
    word-wrap: break-word;
}

.post_text {
    color: var(--text);

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;
}

.create_category {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    height: fit-content;
    width: 20vw;
    
    position: fixed;
    z-index: 3;

    display: none; /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.create_category_close {
    color: var(--text);
    cursor: pointer;
}

.create_category_title_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin: 2vh;
}

.create_category_description_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin: 2vh;
}

/*
.create_category_title_input {

}
*/

.create_category_description_input {
    margin-bottom: 1.5vh;
}

.create_category_create_button {
    background: transparent;
    border: transparent;

    cursor: pointer;

    height: 7vh;
    width: auto;
}

.create_category_create_button_image {
    background-color: transparent;
    border: transparent;
    transition: all 500ms;

    width: 100%;
    height: 100%;
}

.create_category_create_button_image:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.create_category_info_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin: 2vh;
}

.create_post {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    height: fit-content;
    width: 20vw;
    
    position: fixed;
    z-index: 3;

    display: none; /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.create_post_close {
    color: var(--text);
    cursor: pointer;
}

.create_post_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin: 2vh;
}

/*
.create_post_title_input {

}
*/

.create_post_input {
    margin-bottom: 1.5vh;
    width: 50%;
}

.create_post_create_button {
    background: transparent;
    border: transparent;

    cursor: pointer;

    height: 7vh;
    width: auto;
}

.create_post_create_button_image {
    background-color: transparent;
    border: transparent;
    transition: all 500ms;

    width: 100%;
    height: 100%;
}

.create_post_create_button_image:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.create_post_info_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin: 2vh;
}

.post_create_button {
    background: transparent;
    border: transparent;

    cursor: pointer;

    height: 5vh;
    width: auto;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.post_create_button_image {
    background-color: transparent;
    border: transparent;
    transition: all 500ms;

    width: 100%;
    height: 100%;
}

.post_create_button_image:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.show_more_posts_button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}