@import '../../../presets/variables.css';
@import '../../../presets/fonts.css';
@import '../../../presets/elements.css';

body {
    overflow: scroll;
    overflow-x: hidden;
}

.shadow_effect {
    position: fixed;

    width: 100%;
    height: 100%;

    background-color: #000000;
    opacity: 0.8;

    display: none;
    z-index: 2;
}

.info_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    height: fit-content;
    width: 20vw;

    position: fixed;
    z-index: 3;

    display: none;
    /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.info_box_close {
    color: var(--text);
    cursor: pointer;
}

.info_box_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin: 2vh;
}

.edit_pfp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    height: fit-content;
    width: 20vw;

    position: fixed;
    z-index: 3;

    display: none;
    /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.edit_pfp_close {
    color: var(--text);
    cursor: pointer;
}

.edit_pfp_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin: 2vh;
}

.edit_pfp_file_input {
    display: none;
}

.pfp_preview_container {
    margin-top: 2vh;
    height: 5vh;
    width: 5vh;
    overflow: hidden;
    border: 2px solid var(--text);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfp_preview {
    height: 100%;
    width: 100%;
}

.edit_pfp_drop {
    display: flex;
    align-items: center;
    height: 15vh;
    width: 15vh;
    padding: 1vw;
    border-radius: 0.5vw;
    border: 0.1vw dashed var(--text);
    color: var(--text);
    font-size: 0.8vw;
    text-align: center;
    font-family: "Montserrat";
    cursor: pointer;
}

.pfp_change_button {
    margin-top: 2vh;
}


.edit_username {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    height: fit-content;
    width: 20vw;

    position: fixed;
    z-index: 3;

    display: none;
    /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.edit_username_close {
    color: var(--text);
    cursor: pointer;
}

.edit_username_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin: 2vh;
}

.edit_username_input {
    width: 80%;
    height: 2.5vh;

    min-width: 7.5vw;
    min-height: 1vh;

    max-width: 90%;
    max-height: none;

    color: var(--text);
    background-color: var(--background);
    padding: 1vh;
    border-radius: 1vh;
    border: none;

    text-align: center;
}

.edit_username_done_button {
    margin-top: 1vh;
}

.edit_bio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    height: fit-content;
    width: 20vw;

    position: fixed;
    z-index: 3;

    display: none;
    /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.edit_bio_close {
    color: var(--text);
    cursor: pointer;
}

.edit_bio_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin: 2vh;
}

.edit_bio_input {
    width: 80%;
    height: 2.5vh;

    min-width: 7.5vw;
    min-height: 1vh;

    max-width: 90%;
    max-height: none;

    color: var(--text);
    background-color: var(--background);
    padding: 1vh;
    border-radius: 1vh;
    border: none;
}

.edit_bio_done_button {
    margin-top: 1vh;
}

.centered_container {
    display: grid;
    place-items: center;

    height: auto;
}

.line {
    width: 20vw;
    margin: 2vh;
    color: var(--secondary);
}

.info_text {
    color: var(--text);

    text-align: center;

    font-size: 0.9vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin-bottom: 0;
    margin-top: 2vh;
}

.edit_button {
    margin-top: 2vh;

    background: transparent;
    border: transparent;

    cursor: pointer;

    height: 7.5vh;
    width: auto;
}

.edit_button_image {
    border: transparent;
    transition: all 500ms;

    width: 100%;
    height: 100%;
}

.edit_button_image:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.section {
    color: var(--text);

    text-align: center;

    font-size: 2vh;
    font-family: Montserrat;
    font-weight: 900;

    margin: 0;
}

.delete_button {
    background: transparent;
    border: transparent;

    cursor: pointer;

    height: 7.5vh;
    width: auto;
}

.delete_button_image {
    background-color: transparent;
    border: transparent;
    transition: all 500ms;

    width: 100%;
    height: 100%;
}

.delete_button_image:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.delete_button_final {
    background: transparent;
    border: transparent;

    cursor: pointer;

    height: 7.5vh;
    width: auto;
}

.delete_button_final_image {
    background-color: transparent;
    border: transparent;
    transition: all 500ms;

    width: 100%;
    height: 100%;
}

.delete_button_final_image:hover {
    background-color: var(--warning);
    border-radius: 2vh;
}

.more_delete_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background_less);
    border-radius: 2vh;

    padding: 1vh;

    min-height: 15vh;
    width: 25vw;

    position: fixed;
    z-index: 4;

    display: none;
    /*we'll later set it to flex using JS*/
    flex-direction: column;
    align-items: center;
}

.more_delete_box_close {
    color: var(--text);
    cursor: pointer;
}

.more_delete_box_info_text {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 700;

    word-wrap: break-word;

    margin-top: 2vh;
    margin-bottom: 0;
}

.more_delete_box_info_text_smaller {
    color: var(--text);

    text-align: center;

    font-size: 0.6vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin-top: 1vh;
    margin-bottom: 0;
}

.sure_input {
    text-align: center;

    margin-top: 2vh;
    width: 40%;
    height: 20%;

    color: var(--text);
    background-color: var(--background);
    padding: 1vh;
    border-radius: 1vh;
    border: none;
}

.more_delete_box_info_text_under {
    color: var(--text);

    text-align: center;

    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;

    word-wrap: break-word;

    margin-top: 2vh;
}

.more_delete_box_final_info {
    display: none;

    color: var(--text);
    text-align: center;
    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    margin: 2vh;
}

.back_to_profile_button {
    margin-top: 2vh;

    background: transparent;
    border: transparent;

    cursor: pointer;

    height: 7.5vh;
    width: auto;
}

.back_to_profile_button_image {
    border: transparent;
    transition: all 500ms;

    width: 100%;
    height: 100%;
}

.back_to_profile_button_image:hover {
    background-color: var(--secondary);
    border-radius: 2vh;
}

.pfp_container {
    width: 10vw;
    height: 10vw;

    border: 2px solid var(--text);
    border-radius: 50%;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfp {
    height: 100%;
    width: 100%;
}

.username {
    color: var(--text);

    text-align: center;

    font-size: 2vh;
    font-family: Montserrat;
    font-weight: 900;

    margin: 0;
}

.bio {
    color: var(--text);

    font-size: 1.5vh;
    font-family: Montserrat;
    font-weight: 700;

    max-width: 10vw;
    height: auto;
    word-wrap: break-word;

    margin: 0;
}

.no {
    opacity: 0.3;
    cursor: not-allowed;
}

/* mobile devices */
@media (max-height: 900px) {
    .shadow_effect {
        position: fixed;
    
        width: 100%;
        height: 100%;
    
        background-color: #000000;
        opacity: 0.8;
    
        display: none;
        z-index: 2;
    }
    
    .info_box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        background-color: var(--background_less);
        border-radius: 2vh;
    
        padding: 1vh;
    
        height: fit-content;
        width: 50vw;
    
        position: fixed;
        z-index: 3;
    
        display: none;
        /*we'll later set it to flex using JS*/
        flex-direction: column;
        align-items: center;
    }
    
    .info_box_close {
        color: var(--text);
        cursor: pointer;
    }
    
    .info_box_text {
        color: var(--text);
    
        text-align: center;
    
        font-size: 2vh;
        font-family: Montserrat;
        font-weight: 500;
    
        word-wrap: break-word;
    
        margin: 2vh;
    }
    
    .info_text {
        color: var(--text);
    
        text-align: center;
    
        font-size: 2vh;
        font-family: Montserrat;
        font-weight: 500;
    
        word-wrap: break-word;
    
        margin: 2vh;
    }
    
    .edit_pfp {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        background-color: var(--background_less);
        border-radius: 2vh;
    
        padding: 1vh;
    
        height: fit-content;
        width: 75vw;
    
        position: fixed;
        z-index: 3;
    
        display: none;
        /*we'll later set it to flex using JS*/
        flex-direction: column;
        align-items: center;
    }
    
    .edit_pfp_close {
        color: var(--text);
        cursor: pointer;
    }
    
    .edit_pfp_text {
        color: var(--text);
    
        text-align: center;
    
        font-size: 2vh;
        font-family: Montserrat;
        font-weight: 500;
    
        word-wrap: break-word;
    
        margin: 2vh;
    }
    
    .edit_pfp_file_input {
        display: none;
    }
    
    .pfp_preview_container {
        margin-top: 2vh;
        height: 5vh;
        width: 5vh;
        overflow: hidden;
        border: 2px solid var(--text);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .pfp_preview {
        height: 100%;
        width: 100%;
    }
    
    .edit_pfp_drop {
        display: flex;
        align-items: center;
        height: 15vh;
        width: 15vh;
        padding: 1vw;
        border-radius: 0.5vw;
        border: 0.25vh dashed var(--text);
        color: var(--text);
        font-size: 2vh;
        font-family: "Montserrat";
        cursor: pointer;
        text-align: center;
    }
    
    .pfp_change_button {
        margin-top: 2vh;
    }
    
    
    .edit_username {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        background-color: var(--background_less);
        border-radius: 2vh;
    
        padding: 1vh;
    
        height: fit-content;
        width: 75vw;
    
        position: fixed;
        z-index: 3;
    
        display: none;
        /*we'll later set it to flex using JS*/
        flex-direction: column;
        align-items: center;
    }
    
    .edit_username_close {
        color: var(--text);
        cursor: pointer;
    }
    
    .edit_username_text {
        color: var(--text);
    
        text-align: center;
    
        font-size: 2vh;
        font-family: Montserrat;
        font-weight: 500;
    
        word-wrap: break-word;
    
        margin: 2vh;
    }
    
    .edit_username_input {
        width: 80%;
        height: 2.5vh;
    
        min-width: 7.5vw;
        min-height: 1vh;
    
        max-width: 90%;
        max-height: none;
    
        color: var(--text);
        background-color: var(--background);
        padding: 1vh;
        border-radius: 1vh;
        border: none;
    
        text-align: center;
    }
    
    .edit_username_done_button {
        margin-top: 1vh;
    }
    
    .edit_bio {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        background-color: var(--background_less);
        border-radius: 2vh;
    
        padding: 1vh;
    
        height: fit-content;
        width: 75vw;
    
        position: fixed;
        z-index: 3;
    
        display: none;
        /*we'll later set it to flex using JS*/
        flex-direction: column;
        align-items: center;
    }
    
    .edit_bio_close {
        color: var(--text);
        cursor: pointer;
    }
    
    .edit_bio_text {
        color: var(--text);
    
        text-align: center;
    
        font-size: 2vh;
        font-family: Montserrat;
        font-weight: 500;
    
        word-wrap: break-word;
    
        margin: 2vh;
    }
    
    .edit_bio_input {
        width: 80%;
        height: 2.5vh;
    
        min-width: 7.5vw;
        min-height: 1vh;
    
        max-width: 90%;
        max-height: none;
    
        color: var(--text);
        background-color: var(--background);
        padding: 1vh;
        border-radius: 1vh;
        border: none;
    }
    
    .edit_bio_done_button {
        margin-top: 1vh;
    }
    
    .centered_container {
        display: grid;
        place-items: center;
    
        height: auto;
    }
    
    .line {
        width: 60vw;
        margin: 2vh;
        color: var(--secondary);
    }
    
    .info_text {
        color: var(--text);
    
        text-align: center;
    
        font-size: 2.5vh;
        font-family: Montserrat;
        font-weight: 500;
    
        word-wrap: break-word;
    
        margin-bottom: 0;
        margin-top: 2vh;
    }
    
    .edit_button {
        margin-top: 2vh;
    
        background: transparent;
        border: transparent;
    
        cursor: pointer;
    
        height: 7.5vh;
        width: auto;
    }
    
    .edit_button_image {
        border: transparent;
        transition: all 500ms;
    
        width: 100%;
        height: 100%;
    }
    
    .edit_button_image:hover {
        background-color: var(--secondary);
        border-radius: 2vh;
    }
    
    .section {
        color: var(--text);
    
        text-align: center;
    
        font-size: 2vh;
        font-family: Montserrat;
        font-weight: 900;
    
        margin: 0;
    }
    
    .delete_button {
        background: transparent;
        border: transparent;
    
        cursor: pointer;
    
        height: 7.5vh;
        width: auto;
    }
    
    .delete_button_image {
        background-color: transparent;
        border: transparent;
        transition: all 500ms;
    
        width: 100%;
        height: 100%;
    }
    
    .delete_button_image:hover {
        background-color: var(--secondary);
        border-radius: 2vh;
    }
    
    .delete_button_final {
        background: transparent;
        border: transparent;
    
        cursor: pointer;
    
        height: 7.5vh;
        width: auto;
    }
    
    .delete_button_final_image {
        background-color: transparent;
        border: transparent;
        transition: all 500ms;
    
        width: 100%;
        height: 100%;
    }
    
    .delete_button_final_image:hover {
        background-color: var(--warning);
        border-radius: 2vh;
    }
    
    .more_delete_box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        background-color: var(--background_less);
        border-radius: 2vh;
    
        padding: 1vh;
    
        min-height: 15vh;
        width: 75vw;
    
        position: fixed;
        z-index: 4;
    
        display: none;
        /*we'll later set it to flex using JS*/
        flex-direction: column;
        align-items: center;
    }
    
    .more_delete_box_close {
        color: var(--text);
        cursor: pointer;
    }
    
    .more_delete_box_info_text {
        color: var(--text);
    
        text-align: center;
    
        font-size: 2vh;
        font-family: Montserrat;
        font-weight: 700;
    
        word-wrap: break-word;
    
        margin-top: 2vh;
        margin-bottom: 0;
    }
    
    .more_delete_box_info_text_smaller {
        color: var(--text);
    
        text-align: center;
    
        font-size: 1.5vh;
        font-family: Montserrat;
        font-weight: 500;
    
        word-wrap: break-word;
    
        margin-top: 1vh;
        margin-bottom: 0;
    }
    
    .sure_input {
        text-align: center;
    
        margin-top: 2vh;
        width: 40%;
        height: 20%;
    
        color: var(--text);
        background-color: var(--background);
        padding: 1vh;
        border-radius: 1vh;
        border: none;
    }
    
    .more_delete_box_info_text_under {
        color: var(--text);
    
        text-align: center;
    
        font-size: 2vh;
        font-family: Montserrat;
        font-weight: 500;
    
        word-wrap: break-word;
    
        margin-top: 2vh;
    }
    
    .more_delete_box_final_info {
        display: none;
    
        color: var(--text);
        text-align: center;
        font-size: 2.5vh;
        font-family: Montserrat;
        font-weight: 500;
        word-wrap: break-word;
        margin: 2vh;
    }
    
    .back_to_profile_button {
        margin-top: 2vh;
    
        background: transparent;
        border: transparent;
    
        cursor: pointer;
    
        height: 7.5vh;
        width: auto;
    }
    
    .back_to_profile_button_image {
        border: transparent;
        transition: all 500ms;
    
        width: 100%;
        height: 100%;
    }
    
    .back_to_profile_button_image:hover {
        background-color: var(--secondary);
        border-radius: 2vh;
    }
    
    .pfp_container {
        width: 40vw;
        height: 40vw;
    
        border: 2px solid var(--text);
        border-radius: 50%;
        overflow: hidden;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .pfp {
        height: 100%;
        width: 100%;
    }
    
    .username {
        color: var(--text);
    
        text-align: center;
    
        font-size: 2vh;
        font-family: Montserrat;
        font-weight: 900;
    
        margin: 0;
    }
    
    .bio {
        color: var(--text);
    
        font-size: 1.5vh;
        font-family: Montserrat;
        font-weight: 700;
    
        max-width: 60vw;
        height: auto;
        word-wrap: break-word;
    
        margin: 0;
    }
    
    .no {
        opacity: 0.3;
        cursor: not-allowed;
    }
}