@import "../../../../styles/constants.scss";

.container {
    border: 1px solid $primary;
    border-top: none;
    padding: $defaultGap;
    width: $maxContentWidth;
}

.closeIcon {
    background-color: transparent;
    border: none;
    cursor: pointer;

    :hover {
        fill: $textDarkened;
    }
}
