@import "../../../../styles/constants.scss";

.container {
    border: 1px solid $primary;
    border-top: none;
    padding: $defaultGap;
    box-sizing: border-box;
    width: $maxContentWidth;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.closeIcon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 0 0 10px;

    :hover {
        color: $textDarkened !important;
    }
}

.social {
    :hover {
        color: $textDarkened !important;
    }
}

.socialContainer {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
    height: 100%;
    width: 100%;
    margin-block: 5px;
}
