@import "../../../styles/constants";

.container {
    position: relative;
    width: fit-content;
    height: fit-content;
    line-height: 0;
}

.tooltip {
    position: absolute;
    transition: all 0.5s ease-in-out;
    border-width: 1px;
    border-style: solid;
    padding: $defaultGap;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: -$defaultGap;
    width: max-content;

    &.active {
        opacity: 1;
        transform: translateX(-50%) translateY(-100%);
    }
}
