@import "../../../styles/constants";

.animate {
    transition: all .25s ease-in;
    opacity: 0;
    transform: translateY($defaultGap);

    &.active {
        opacity: 1;
        transform: translateY(0);
    }
}
