@import "../../../styles/constants";

.container {
    position: relative;
}

.wrapper {
    background-color: $background;
    border: 1px solid $primary;
    z-index: 5;
    overflow: hidden;

    &.outOfFlow {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.contentContainer {
    height: 100%;
    width: 100%;
}
