@import "../../../styles/constants";

.container {
    position: relative;
}

.wrapper {
    background-color: $background;
    border: 1px solid $primary;
    z-index: 5;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}
