@import "../../../../../styles/constants.scss";

.link {
    font-size: 1.5rem;
    text-align: center;
    color: $text;
    text-decoration: none;
    position: relative;

    &.active::after {
        width: 100%;
        transform: scaleX(1);
    }
}

.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 100%;
    background-color: $text;
    transition: transform .5s cubic-bezier(0.75, 0, 0.30, 1);
    transform: scaleX(0);
}

@media (width >= 500px) {
    .link:hover::after {
        width: 100%;
        transform: scaleX(1);
    }
}
