*, body, html, video, source {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

button {
    height: 100vh;
    width: 100%;
    opacity: 0;
    position: fixed;
}