@import "../../../styles/constants.scss";

.container {
  margin-block: $defaultGap;
  width: min($maxContentWidth, 90vw);
}

.post_container {
  padding: $defaultGap;
  box-sizing: border-box;
  border: solid $primary 1px;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  transition: all .15s cubic-bezier(0.75, 0, 0.30, 1);
  
  &:hover {
    background-color: $primary;
  }
}
