@import "../../../../styles/constants";

.container {
    width: $maxContentWidth;
}

.title {
    min-height: 2rem;
    padding: $defaultGap;
    width: calc(100% - 2 * $defaultGap);
    border: solid $primary 1px;
}

.darkenChildOnHover:hover {
    cursor: pointer;

    > * {
        color: $textDarkened !important;
    }
}
