@import "../../../../styles/constants";

.container {
    width: min(100vw - 2 * 10px, $maxContentWidth);
}

.scrollContainer {
    scroll-margin-top: $navDesktopHeight;
}

.title {
    min-height: 2rem;
    padding: $defaultGap;
    box-sizing: border-box;
    width: calc(100% - 2 * $defaultGap);
    border: solid $primary 1px;
}

.underline {
    width: 100%;
    border-radius: 5px;
}

@mixin darkenChildren {
    > * {
        color: $textDarkened !important;
    }
}

.darkenChild {
    @include darkenChildren;
}

.darkenChildOnHover:hover {
    cursor: pointer;
    @include darkenChildren;
}

.expandContainer {
    padding: $defaultGap;
    box-sizing: border-box;
    height: auto;
    width: calc(100% - 1px * 2);
}

@media (width <= $mobileWidth) {
    .scrollContainer {
        scroll-margin-top: $navMobileHeight;
    }
}
