@import "../../../styles/constants";

@mixin line {
    border: none;
    margin: 0;
    color: $text;
    background-color: $text;
}

.line_primary {
    flex: 1;
    @include line;
}

.text_primary {
    max-width: 80%;
    text-align: center;
}

.line_secondary {
    @include line;
}
